.keyboard {
    text-align: center;
    display: flex;
}

.piano-key {
    border: outset;
    min-height: 100vh;
    width: 10%;
    background-color: gainsboro;
}

.piano-key-pressed {
    border: outset;
    min-height: 100vh;
    width: 10%;
    background-color: gray;
}